:host {
    --background: #000;
    --foreground: #000fff;
    --text-color: #fff;
}

* {
    user-select: none;
}

.display-area {
    border-radius: 6px 6px 0 0;
    height: 100%;
    width: 100%;
    color:var(--text-color);
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}

.display-area:hover {
    background: var(--foreground);
}

span {
    padding-left: 9px;
    padding-right: 9px;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    overflow-x: hidden;
    text-transform: capitalize;
}

.icon {
    transition: ease;
    transition-duration: 600ms;
    font-size: 23px;
}

.drop-down {
    width: max-content;
    position: absolute;
    margin-top: 33px;
    height: auto;
    max-height: 275px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: var(--background);
    border-radius: 0 0 6px 6px;
    z-index: 7 !important;
    box-shadow: 0px 7px 12px -6px var(--background);
}


.drop-down-value {
    color: var(--text-color);
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.drop-down-value:nth-last-child(1) {
    border-radius: 0 0 6px 6px;
}

.drop-down-value:hover {
    background: var(--foreground);
}

.drop-down-value-selected {
    background: var(--foreground);
}

.invisible {
    visibility: hidden;
}

.selectedValue {
    flex-grow: 4;
}

.icon-close {
    transform: rotateZ(225deg);
}

.list-element {
    overflow-x: hidden;
    overflow-y: overlay;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background:rgba(212, 212, 212, 0.14);
    border-radius: 6px;
}

.desactivate {
    pointer-events: none !important;
}
