node_modules/
dist/
cli/main/
cli/tess-cli
.vscode/settings.json
.vscode/c_cpp_properties.json
cli/test.manifest
cli/background.jpg
cli/Lib/external/cpr/README.md
tess-git/tess-git-*
tess-git/Tess/
tess-git/src/
tess-git/pkg/
.idea/
.eslintrc.json
pnpm-lock.yaml
patchNote
cli/_deps/*