node_modules
dist
cli/main
.vscode/settings.json
.vscode/c_cpp_properties.json
cli/test.manifest
cli/background.jpg
cli/Lib/external/cpr/README.md
tess-git/tess-git-1.2r88.e067ffa-1-x86_64.pkg.tar.zst
tess-git/Tess
tess-git/src
tess-git/pkg