[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-pie-executable;
Actions=appintess;
X-KDE-AuthorizeAction=shell_access
[Desktop Action appintess]
Name=Execute App in Tess
Exec=tess --workdir %f
Icon=/usr/bin/Tess.png