[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/*;
Actions=appintess;
X-KDE-AuthorizeAction=shell_access

[Desktop Action appintess]
Name=Execute App in Tess
Exec=tess --e %f --newtab
Icon=/usr/share/pixmaps/tess.png