[Desktop Entry]
Type=Application
Exec=/usr/bin/tess
Icon=tess
Name=Tess - Terminal
GenericName=Terminal
Terminal=False
Categories=System;TerminalEmulator
Description=Tess is a hackable, simple, rapid and beautiful terminal for the new era of technology
Comment=Simple Terminal Emulator
StartupWMClass=tess
