[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
Actions=test;
MimeType=inode/directory;
AuthorizeAction=shell_access
[Desktop Action test]
Name=test
Exec=/usr/bin/tess