[Desktop Entry]
Type=Application
Exec=/usr/bin/tess
Icon=/usr/share/pixmaps/tess.png
Name=Tess - Terminal
GenericName=Terminal
Terminal=False
Categories=System;TerminalEmulator
Description=Tess is a hackable, simple, rapid and beautiful terminal for the new era of technology
Comment=Simple Terminal Emulator
StartupWMClass=tess
Action=NewWindow

[Desktop Action NewWindow]
Name=Open a New Window
Icon=window-new
Exec=/usr/bin/tess