:host {
    --background: #000;
    --text-color: #fff;
}

* {
    user-select: none;
    color: var(--text-color);
    cursor: pointer;
}

.element {
    background: var(--background);
    height: 100%;
    width: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

.display-area {
    font-size: 15px;
    width: calc(100% - 18px);
    display: flex;
    height: 100%;
    align-items: center;
    white-space: normal;
    overflow-x: hidden;
    padding-left: 9px;
}

.element:hover .edit-icon {
    opacity: 1;
}

.edit-icon {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 100%;
    box-shadow: -10px 0px 10px -5px var(--background);
    transition: all 120ms ease-in-out;
    position: absolute;
    background: var(--background);
    right: 0;
    border-radius: 0 4px 4px 0;
}

.edit-icon:hover {
    filter: brightness(1.15);
}

.edit-icon svg {
    height: 55%;
}