@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
    --opacity: 1;
    --background: #000;
    --app-background: rgb(43, 43, 43);
    --app-dark-background: rgb(20, 20, 20);

    --item-background: #000;
    --item-background-hover: #00ff00;
    --item-textcolor: #fff;
    --item-red: red;
    --item-green: green;
    --item-yellow: orange;
    --item-radius: 20px;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    width: calc(100vw + 3px);
    overflow-x: hidden;
}

* {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.page-header {
    width: 100vw;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    top: 0;
    background: var(--app-background);
    z-index: 100;
}

.page-title {
    font-size: 19px;
    color: var(--item-textcolor);
    width: 100%;
    text-align: center;
}

.return-button {
    height: 22px;
    width: 22px;
    border-radius: var(--item-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--item-textcolor);
    cursor: pointer;
    transition: all 150ms ease;
    position: fixed;
    right: 13px;
    top: 13px;
}

.return-button:hover {
    border-radius: calc(var(--item-radius) + 1px);
    transform: scale(0.97);
}

.return-arrow {
    height: 19px;
    width: 19px;
    color: var(--item-textcolor);
}

.page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: overlay !important;
    overflow-x: hidden;
}

.hidden-page {
    transform: translateX(100vw);
}

.menu-hidden {
    transform: translateX(-101%);
    box-shadow: none !important;
}

switch-button {
    height: 28px;
    width: 58px;
    display: flex;
    flex-shrink: 0;
    --green: var(--item-green);
    --red: var(--item-red);
    --background: var(--item-background);
    --radius: var(--item-radius);
}
drop-down-menu {
    height: 33px;
    width: 33vw;
    max-width: 425px;
    min-width: 250px;
    display: flex;
    flex-shrink: 0;
    box-shadow: -8px 0px 7px var(--app-background);
    --background: var(--item-background);
    --foreground: var(--item-background-hover);
    --text-color : var(--item-textcolor);
    /*ADD radius*/
}
scroller-picker {
    height: 25px;
    width: 33vw;
    max-width: 425px;
    min-width: 250px;
    flex-shrink: 0;
    margin-top: 12px;
    box-shadow: -8px 0px 7px var(--app-background);
    --background: var(--item-background);
    --text-color: var(--item-textcolor);
    --progress-color: var(--item-green);
}
shortcut-picker {
    height: 33px;
    width: 33vw;
    max-width: 425px;
    min-width: 250px;
    display: flex;
    flex-shrink: 0;
    box-shadow: -8px 0px 7px var(--app-background);
    --background: var(--item-background);
    --text-color: var(--item-textcolor);
}
file-picker {
    height: 33px;
    width: 33vw;
    max-width: 425px;
    min-width: 250px;
    flex-shrink: 0;
    box-shadow: -8px 0px 7px var(--app-background);
    --background: var(--item-background);
    --text-color: var(--item-textcolor);
}
input {
    height: 33px;
    width: 33vw;
    max-width: 425px;
    min-width: 250px;
    background: var(--item-background);
    border: 0;
    border-radius: 4px;
    outline: none;
    color: var(--item-textcolor);
    font-size: 15px;
    flex-shrink: 0;
    box-shadow: -8px 0px 7px var(--app-background);
    padding-left: 9px;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background:rgba(212, 212, 212, 0.14);
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#menu-icon {
    position: relative;
    left: 56%;
    height: 24px;
    width: 24px;
    z-index: 1000;
    justify-content: center;
    display: flex;
    align-items: center;
    color: var(--item-textcolor);
    top: 3px
}

.left-side-menu-items {
    display: flex;
    height: calc(100% - 57px);
    width: 100%;
    flex-direction: column;
    overflow-y: overlay;
    align-items: center;
}

.save-alert span {
    white-space: nowrap;
    font-size: 17px;
    overflow: hidden;
    max-width: 35vw;
    color: var(--item-textcolor);
    font-weight: 500;
}

.config-group {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;
    margin-right: 15px;
}

.config-group::after {
    display: block;
    height: 1px;
    width: 96%;
    background: var(--item-textcolor);
    opacity: 0.13;
    content: "";
}

.left-side-menu {
    height: 100%;
    background: var(--item-background);
    position: fixed;
    top: 0;
    left: 0;
    width: calc(16rem + 8px);
    z-index: 101;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 425ms ease;
}

.left-side-menu-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    background: var(--item-background);
}

.left-side-menu-link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.left-side-menu-link span {
    display: flex;
    font-size: 12.5px;
    justify-content: center;
    align-items: center;
    margin-left: 11px;
    color: var(--item-textcolor);
    cursor: pointer;
}

.left-side-menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

.reload-require {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reload-require svg {
    color: var(--item-red);
    height: 17px;
    width: 17px;
    margin: 5px;
}

.left-side-menu .link,.profil-page,.profil-create {
    height: 36px;
    min-height: 36px;
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--item-textcolor);
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

.profil-page:hover .delete-profil {
    visibility: visible;
}

.profil-create {
    order: 100;
}

.delete-profil {
    margin-right: 7px;
    visibility: hidden;
    height: 21px;
    width: 21px;
    min-width: 21px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 100ms linear;
}

.delete-profil svg {
    height: 12px !important;
    width: 12px !important;
    color: var(--item-textcolor);
}

.delete-profil:hover {
   background: var(--item-background); 
}

.link-icon {
    height: 21px;
    width: 21px;
    margin-left: 7px;
}

.link-name {
    width: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.selected-page {
    background: var(--app-dark-background) !important;
}

h2 {
    color: var(--item-textcolor);
    font-size: 16px;
    width: 98%;
    text-align: center;
}

.left-side-menu .link:hover,.profil-page:hover,.profil-create:hover {
    background: var(--item-background-hover);
}

h3 {
    width: 96%;
    margin-bottom: 0;
    font-size: 17px;
    color: var(--item-textcolor);
}

.config-props{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    height: 66px;
    padding-left: 11px;
    padding-right: 11px;
}

.plugin-props {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    height: 63px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6px;
    width: 100%;
    overflow: hidden;
    user-select: none;
}

.description span {
    color: var(--item-textcolor);
    white-space: nowrap;
    margin-bottom: 2px;
}

.title {
    font-size: 15px;
}

.details {
    font-size: 13px;
    filter: opacity(0.74);
    z-index: -1;
    padding-left: 2px;
}

.visible {
    transform: translateX(-2px);
    opacity: 1;
}

.no-transition {
    transition: none !important;
}

.transition {
    transition: all;
    transition-duration: 750ms;
    transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);;
}

.trash-icon {
    color: var(--item-red);
}

.edit-icon {
    color: var(--item-yellow);
}

.valid-icon {
    color: var(--item-green);
}

.hidden {
    display: none;
}

[disable] {
    cursor: not-allowed;
}

.icon {
    transition: all 90ms ease;
    height: 25px;
    width: 25px;
    user-select: none;
}

.icon:hover {
    opacity: 0.79;
    height: 24px;
}

.page-animation {
    transition: transform 425ms ease;
}

.hidden {
    display: none;
}

.shortcutLine drop-down-menu, shortcut-picker {
    box-shadow: none !important;
    width: 38vw !important;
    min-width: 70px !important;
}

.shortcutLine {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: calc(100% - 43px);
}

.shortcutLine div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcutLine div:nth-last-child(1) {
    width: 75px;
    flex-shrink: 0;
}

.shortcutAddDiv{
    order: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.shortcutAddButton {
    width: 30%;
    height: 29px;
    border: 2.5px solid white;
    max-width: 520px;
    min-width: 150px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-radius: 4px;
}

.invisible {
    visibility: hidden;
}

#profil-page file-picker{
    width: calc(33vw + 9px) !important;
    max-width: 434px !important;
    min-width: 259px !important;
}

.shortcut {
    align-items: flex-start !important;
}