@keyframes slide-initial-to-left {
    from { transform: translateX(0); }
    to   { transform: translateX(-100%); }
}

@keyframes slide-left-to-initial {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0); }  
}

@keyframes slide-initial-to-right {
    from { transform: translateX(0); }
    to   { transform: translateX(100%); }
}

@keyframes slide-right-to-initial {
    from { transform: translateX(100%); }
    to   { transform: translateX(0); }  
}

@keyframes tab-created {
    from { width: 0; }
    to { width: 16rem; }
}

@keyframes tab-closed {
    to { width: 0; }
}

@keyframes tab-with-progress-added-title {
    to { transform: translateY(-4px); }
}

@keyframes tab-with-progress-added-progress-bar {
    from {
        width: 0;
    }
    to { 
        opacity: 1;
    }
}

@keyframes tab-with-progress-removed-title {
    from { transform: translateY(-4px); }
}

@keyframes tab-with-progress-removed-progress-bar {
    from { 
        opacity: 1;
    }
    to {
        width: 0;
    }
}

@keyframes toast-inserted {
    from {
        transform: translateY(24px);
        opacity: 0;
    }
}

@keyframes toast-removed {
    to {
        opacity: 0;
    }
}

@keyframes toast-slide-up {
    from {
        transform: translateY(58px);
    }
}

@keyframes toast-slide-down {
    from {
        transform: translateY(-58px);
    }
}

@keyframes popup-added {
    from {
        opacity: 0;
        transform: scale(0.86);
    }
}

@keyframes popup-removed {
    to {
        opacity: 0;
        transform: scale(0.86);
    }
}

@keyframes popup-added-background-fade {
    from {
        -webkit-backdrop-filter: blur(0);
        background: transparent;
    }
}

@keyframes popup-removed-background-fade {
    to {
        -webkit-backdrop-filter: blur(0);
        background: transparent;
    }
}