:root {
    --app-background: #141a29; 

    --text-color: #deeaf8;

    --icon-color: #deeaf8;

    --topbar-background: #050a19;

    --tabs-background: #050a19;
    --tab-focused-background: #192033;
    --tab-hovered-background: #161e32;
    --tab-progressbar-color: #deeaf8;
    --tab-progressbar-background: #050a19;
    --tab-action-button-background: var(--tab-focused-background);

    --toast-background: #050a19;
    --toast-button-hovered-background: #192033;

    --popup-background: #050a19;
    --popup-button-background: #161e32;
    --popup-button-hovered-background: #192033;
    --popup-primary-button-background: linear-gradient(to right, #01dcff, #2cf5b7);
    --popup-do-not-show-again-checkbox-background: #161e32;
    --popup-do-not-show-again-checkbox-hovered-background: #192033;
    --popup-do-not-show-again-checkbox-checked-background: #156ce6;

    --action-button-background: transparent;
    --action-button-hovered-background: #050a19;
}