#popup {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    -webkit-backdrop-filter: blur(2px);
    outline: none;

    .inner {
        background: var(--popup-background);    
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.28) 0px 5px 10px;
        padding-bottom: 20px;
        padding-top: 20px;
        padding-right: 18px;
        padding-left: 18px;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: var(--text-color);

        .top {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;

            .title {
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
            }
        }
    
        .message {
            margin-top: 16px;
            font-size: 13px;
            font-weight: 500;
            text-align: center;
            line-height: 16px;
            width: 100%;
        }
    
        .buttons {
            padding-top: 32px;
            font-weight: 600;
            width: 100%;
            margin-top: auto;
            display: flex;
            flex-direction: row;
            gap: 10px;
            -webkit-user-select: none;
            user-select: none;
            justify-content: flex-end;

            .do-not-show-again {
                &:hover input {
                    background: var(--popup-do-not-show-again-checkbox-hovered-background);
                }

                span {
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 12px;
                    padding-right: 16px;
                }

                input {
                    -webkit-appearance: none;
                    appearance: none;
                    margin: 0;
                    height: 16px;
                    width: 16px;
                    margin-right: 6px;
                    border-radius: 3px;
                    background: var(--popup-do-not-show-again-checkbox-background);
                    transition: background 140ms;
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.28) 0px 5px 10px;
                }

                input:checked {
                    background: var(--popup-do-not-show-again-checkbox-checked-background);
                }

                label {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                }
            }
    
            .button {
                padding-right: 11px;
                padding-left: 11px;
                height: 30px;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                font-size: 12px;
                line-height: 12px;
                cursor: pointer;
                transition: background 140ms;
                text-transform: capitalize;
                background: var(--popup-button-background);

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.28) 0px 5px 10px;
                    background: var(--popup-button-hovered-background);
                }
    
                &.primary {
                    color: var(--popup-background);
                    position: relative;
                    overflow: hidden;
                    z-index: 0;
                    background: var(--popup-primary-button-background);
                }
            }
        }
    }
    
}