@import "constants";
@import "animation";
@import "titlebar";
@import "toasts";
@import "popup";
@import "term";
@import "tab";

@import "../../node_modules/xterm/css/xterm.css";


@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url(../fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url(../fonts/Inter-SemiBold.ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url(../fonts/Inter-Bold.ttf);
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: "Inter";
    letter-spacing: 0.6px;
    word-spacing: 0.66px;
    background: var(--app-background);
}


::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background:rgba(212, 212, 212, 0.14);
    border-radius: 6px;
}


.background-image {
    height: 100%;
    width: 100%;
    z-index: -4;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}