@import "constants";
@import "animation";
@import "titlebar";
@import "term";
@import "tab";

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}