.topbar {
    background: var(--topbar-background);
    display: flex;

    .tabs {
        height: 30px;
        display: flex;
        margin-left: 14px;
        width: fit-content;
        position: relative;
        overflow: hidden;
    }

    .actions {
        display: flex;
        color: var(--icon-color);

        .more {
            height: 30px;
            width: 30px;
        }

        .open {
            height: 30px;
            width: 30px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                height: 14px;
                width: 14px;
            }
        }
    }
}