.toasts {
    width: calc(100% - 32px);
    position: absolute;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items:end;
    flex-direction: column;
    row-gap: 12px;
    padding-bottom: 16px;
    pointer-events: none;
    margin-left: 16px;

    .toast {
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.28) 0px 5px 10px;
        height: fit-content;
        background: var(--toast-background);
        animation: toast-inserted 140ms forwards;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-color);
        pointer-events: all;
        max-width: 260px;
        position: relative;

        .icon {
            position: absolute;
            top: 4.5px;
            left: 0;
            fill: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 10px;
            color: var(--icon-color);

            svg {
                height: 16px;
                width: 16px;
            }
        }

        .content {
            padding-left: 24px;
            display: flex;
            justify-content: center;
            row-gap: 2px;
            flex-direction: column;
            overflow: hidden;
            font-weight: 600;

            .title {
                font-size: 13px;
            }

            .message {
                font-size: 11px;
                text-overflow: ellipsis;
                max-height: 14px;
                white-space: nowrap;
                overflow: hidden;
                transition: max-height 200ms;
                -webkit-line-clamp: 13;
                -webkit-box-orient: vertical;
                display: -webkit-box;
            }
        }

        &.text-expanded .content {
            .message {
                max-height: 182px;
                white-space: normal;
            }
        }

        &:hover .actions {
            opacity: unset;
        }

        &.with-text {
            .actions {
                .close {
                    box-shadow: unset;
                }
    
                .expand {
                    box-shadow: -9px 0 7px var(--shadow-color);
                }
            }

            .icon {
                top: 8.5px !important;
            }
        }

        .actions {
            right: 7px;
            top: 7px;
            position: absolute;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            flex-direction: row-reverse;
            gap: 5px;
            background: var(--toast-background);
            color: var(--icon-color);

            & > * {
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background: var(--action-button-hovered-background) !important;
                }
            }

            .close {
                background: var(--action-button-background);
                height: 20px;
                width: 20px;
                transition: background 100ms;
                box-shadow: -9px 0 8px var(--toast-background);

                & > svg {
                    height: 12px;
                    width: 12px;
                }
            }

            .expand {
                background: var(--action-button-background);
                height: 20px;
                width: 20px;

                & > svg {
                    height: 15px;
                    width: 15px;
                }
            }
        }
    }
}