.toasts {
    position: absolute;
    bottom: 18px;
    right: 18px;
    z-index: 10;
    display: flex;
    align-items:end;
    flex-direction: column;
    row-gap: 12px;
    pointer-events: none;

    .toast {
        padding-inline: 13px;
        padding-block: 12px;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.28) 0px 5px 10px;
        background: var(--toast-background);
        animation: toast-inserted 140ms forwards;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: all;
        max-width: 270px;
        position: relative;

        .icon {
            position: absolute;
            left: 0;
            fill: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 13px;
            color: var(--icon-color);

            svg {
                height: 20px;
                width: 20px;
            }
        }

        .content {
            padding-left: 33px;
            overflow: hidden;

            .title {
                font-size: 13px;
                font-weight: 600;
            }

            .message {
                margin-top: 4px;
                font-size: 12px;
                display: grid;
                grid-template-rows: 0fr;
                transition: grid-template-rows 200ms;

                span {
                    text-align: justify;
                    min-height: 17px;
                }
            }
        }

        &.with-text {
            .icon {
                top: 20.5px;
            }

            .actions {
                top: 8px;

                .close {
                    box-shadow: unset;
                }
    
                .expand {
                    box-shadow: -9px 0 7px var(--toast-background);
                    
                    svg {
                        transform: rotate(-90deg);
                        transition: transform 140ms;
                    }
                }
            }
        }

        &.text-expanded {
            .actions .expand svg {
                transform: rotate(0deg);
            }

            .content {
                .message {
                    grid-template-rows: 1fr;
    
                    span {
                        transition-delay: 200ms;
                        transition-property: white-space;
                    }
                }
            }
        }

        &:hover .actions {
            opacity: unset;
        }

        .actions {
            right: 8px;
            margin-top: auto;
            margin-bottom: auto;
            position: absolute;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            flex-direction: row-reverse;
            gap: 5px;
            background: var(--toast-background);
            color: var(--icon-color);

            & > * {
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background: var(--toast-button-hovered-background) !important;
                }
            }

            .close {
                height: 20px;
                width: 20px;
                transition: background 100ms;
                box-shadow: -9px 0 8px var(--toast-background);

                & > svg {
                    height: 12px;
                    width: 12px;
                }
            }

            .expand {
                height: 20px;
                width: 20px;

                & > svg {
                    height: 15px;
                    width: 15px;
                }
            }
        }
    }
}