.buttons {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background: var(--tab-panel-background);
}

.buttons.no-drag {
    -webkit-app-region: no-drag;
}