:root {
    --background-scrollbar : #000;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tabs {
    height : 34px;
    width : 100vw;
    display: flex;
}

.tab {
    max-width: 16rem;
    min-width: 11rem;
    width: 100%;
    height: 34px;
    display: flex;
    font-weight: bolder;
    font-size: 13px;
    font-family: monospace;
    border-radius: 5.4px 5.4px 0 0;
    cursor: pointer;
    overflow: hidden;
    animation: 0.25s nodeInserted;
}

.more {
    height: 34px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 20px;
    font-family: monospace;
    order: 1000;
}

.more:hover{
    cursor: pointer;
    filter: invert(0.32)
}

.tab .close-button{
    height: 100%;
    width: 100%;
    max-width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
}

.tab .close-button:hover{
    cursor: pointer;
    filter: invert(0.32)
}

.tabs .tabs-panel{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.tab .tab-link{
    width: 100%;
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow : hidden;
}

.terminals {
    height: calc(100vh - 34px);
    width: calc(100vw - 3.6px);
    position: relative;
}

.terms {
    position: absolute;
    height: 100%;
    width: 100vw;
}

.hidden {
    z-index: 50;
}

.visible {
    z-index: 10000;
}

.logo {
    height: 20px;
    max-width: 21px;
    margin-left: 6.5px;
    margin-top: 7px;
    border-radius: 3.5px;
    width: 100%;
}

.tabs-tab{
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    height: 3.5px;
    width: 3.5px;
}

::-webkit-scrollbar-track{
    background-color: var(--background-scrollbar);
}

::-webkit-scrollbar-thumb {
    background:rgba(210, 210, 210, 0.12);
    border-radius: 9px;
}

@keyframes nodeInserted { 
    from { 
            opacity: 0.35;
            transform: translateY(10px);
         }
    to   { 
            opacity: 1;
            transform: translateY(0);
         } 
}