body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tabs {
    height : calc(3vh + 7px);
    width : 100vw;
    display: flex;
}

.tab {
    max-width: 16rem;
    min-width: 11rem;
    width: 100%;
    height: 3vh;
    display: flex;
    font-weight: bolder;
    font-size: 13px;
    font-family: monospace;
    border-radius: 5.7px 5.7px 0 0;
    cursor: pointer;
    overflow: hidden;
}

.more {
    height: 3vh;
    width: 2.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 20px;
    font-family: monospace;
    order: 1000;
}

.more:hover{
    cursor: pointer;
    filter: invert(0.3)
}

.tab .close-button{
    height: 100%;
    width: 100%;
    max-width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
}

.tab .close-button:hover{
    cursor: pointer;
    filter: invert(0.3)
}

.tabs .tabs-panel{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.tab .tab-link{
    width: 100%;
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow : hidden;
}

.terminals {
    height: calc(97vh - 7px);
    width: 100vw;
    position: relative;
}

.terms {
    position: absolute;
    height: 100%;
    width: 100vw;
}

.hidden {
    scale: 0;
    z-index: 50;
}

.visible {
    z-index: 10000;
}

.logo {
    height: 2.1vh;
    max-width: 2.1vh;
    margin-left: 6px;
    margin-top: 0.45vh;
    border-radius: 5.7px;
    width: 100%;
}

.tabs-tab{
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    height: 7px;
}

::-webkit-scrollbar-track {
    background-color: #282d42;
}

::-webkit-scrollbar-thumb {
    background:rgba(207, 207, 207, 0.192);
    border-radius: 10px;
}