:root {
    --opacity: 1;
    --background: rgba(0,0,0,0);
    --background-image: var(--background);
    --blur: blur(0px);

    --general-text-color: #fff;

    --tab-panel-background: #000;
    --tab-active-background: #fff;
    --tab-inactive-background : #000;
    --tab-hover: rgb(36, 36, 36);

    --tab-text-color: #000;
    --tab-text-size: 13px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--background-image);
    background-size: cover;
    color: var(--general-text-color);
    backdrop-filter: var(--blur);
}

.tabs {
    height : 30px;
    width : 100vw;
    display: flex;
    -webkit-app-region: drag;
}

.tabs * {
    user-select: none;
}

.tab {
    max-width: 16rem;
    min-width: 11.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-family: monospace;
    cursor: pointer;
    animation: 375ms nodeInserted;
    -webkit-app-region: no-drag;
    color: var(--tab-text-color);
    transition: background 75ms linear;
}

.tab:hover {
    background: var(--tab-hover);
}

.more {
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 20px;
    font-family: monospace;
    order: 1000;
    -webkit-app-region: no-drag;
    color: var(--general-text-color);
    transition: flex 1000ms linear;
}

.more:hover {
    cursor: pointer;
    filter: brightness(1.15);
}

.close-button {
    height: 21px;
    min-width: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    margin-right: 7px;
    border-radius: 4px;
    transition: all 100ms linear;
}

.tab:hover .close-button {
    visibility: visible;
}

.close-button:hover {
    cursor: pointer;
    background: var(--tab-panel-background);
}

.tabs .tabs-panel {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    padding-left: 8px;
    background: var(--tab-panel-background);
}

.app-buttons {
    height: 100%;
    width: auto;
    display: flex;
    overflow: hidden;
    flex-direction: row-reverse;
    -webkit-app-region: no-drag;
}

.app-button {
    height: 100%;
    width: 54px;
    -webkit-app-region: no-drag;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-no-opacity);
}

.app-button:hover {
    filter: invert(0.1)
}

.app-button#close:hover{
    background: red;
}

.app-button#separator{
    -webkit-app-region: drag;
}

.app-button#separator:hover{
    filter: invert(0)
}

.tab .tab-link {
    width: 100%;
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow : hidden;
    font-size: var(--tab-text-size);
}

.terminals {
    height: calc(100vh - 30px);
    width: 100vw;
    position: relative;
}

.terms {
    position: absolute;
    height: calc(100% - 3px);
    width: calc(100vw - 3px);
    margin-left: 3px;
    margin-top: 3px
}

.iframe {
    position: absolute;
    height: calc(100% + 3px);
    width: 100vw;
    transform: translate(-3px, -3px);
}

.hidden {
    z-index: 50;
    visibility: hidden;
}

.visible {
    z-index: 10000;
}

.logo {
    height: auto;
    max-height: 75%;
    border-radius: 4px;
    margin-left: 7px;
    user-select: none !important;
}

.tabs-tab {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: overlay;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background:rgba(212, 212, 212, 0.14);
    border-radius: 6px;
}

@keyframes nodeInserted { 
    from { 
            opacity: 0.25;
            transform: translateY(22px);
         }
    to   { 
            opacity: 1;
            transform: translateY(0);
         } 
}

.invisible {
    scale: 0;
}

.terminals-before {
    height: calc(100vh - 30px);
    width: 100vw;
    position: relative;
    background: var(--background);
}

.tab-active {
    background: var(--tab-active-background) !important;
}

.tab-inactive {
    background: var(--tab-inactive-background);
}

.tab-active > .close-button{
    visibility: visible;
}

iframe {
    border: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

svg {
    height: 12px;
    width: 12px;
}

.overAll {
    z-index: 100000;
}

.end-order {
    order: 100000;
}